body{
    background-image: url(../img/fundo\ 2.jpg);
    background-repeat: no-repeat;
width: 100%;
}
header{
    padding: 3%;

}
.titulos{
}
nav{
}
main{
    background-color: rgb(255, 0, 0);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
}
footer{
    padding: 3%;
}
h1{
}