body{
    background-color: aqua;
}
header{
    background-color: blueviolet;
}
.logo{
    background-color: chocolate;
}
nav{
    background-color: darkmagenta;
}
main{
    background-color: darkgreen;
}
section{
    background-color: darkred;
}
footer{
    background-color: crimson;
}
h1{
    color: rgb(255, 4, 4);
}