body{
    background-color: #ffffff;
}
h1{
    color: #3200BA;
    font-weight: bold;
font-style: italic;
}
h2{
    color: #3200BA;
font-weight: bold;
font-style: italic;
}
li{
    color: darkred;
}
title{
    color: maroon;
}